@import "block/reset";
@import "block/vars";
@import "block/global";

* {
  box-sizing: border-box;
}

.main {
  margin: 60px auto 0;
  &__inner {
    display: flex;
    max-height: 481px;
    height: 481px;
  }
  &__logo {
    position: relative;
    width: 138px;
    height: 100%;
    background-color: $bg-color;
    &-img {
      position: absolute;
      bottom: 22.5px;
      right: 6.5px;
    }
  }

  &__content {
    width: 100%;
    padding: 39px 22px 33px 21px;
    &-title {
      font-size: 22px;
      line-height: 25.78px;
      letter-spacing: -0.46px;
    }
  }

  &__form {
    margin-top: 20px;
  }
}


