@import "block/reset";
@import "block/vars";
@import "block/global";

.main {
  margin: 60px auto 0;
  &__inner {
    display: flex;
    max-height: 481px;
    height: 481px;
  }
  &__logo {
    position: relative;
    width: 138px;
    height: 100%;
    background-color: $bg-color;
    &-img {
      position: absolute;
      bottom: 22.5px;
      right: 6.5px;
    }
  }

  &__content {
    width: 100%;
    padding: 39px 22px 33px 21px;
    &-title {
      font-size: 22px;
      line-height: 25.78px;
      letter-spacing: -0.46px;
    }
  }
  &__form {
    margin-top: 20px;
    &-box {
      display: flex;
      justify-content: space-between;
      & label {
        font-size: 12px;
        line-height: 14.06px;
        color: $gray-color;
      }
      & input {
        border: none;
        border-bottom: 0.7px solid #f2f2f2;
        &:focus-visible {
          border: none;
          background-color: #fff;
        }
      }
    }
    &-box:nth-child(1) :nth-child(1) label {
      margin-bottom: 4.9px;
    }
    &-box:nth-child(1) :nth-child(1) input {
      width: 235px;
      padding-bottom: 6.3px;
    }
    &-box:nth-child(1) :nth-child(2) label {
      margin-bottom: 4.6px;
    }
    &-box:nth-child(1) :nth-child(2) input {
      width: 237px;
      padding-bottom: 6.1px;
    }
    &-box:nth-child(2) :nth-child(1) label {
      margin-bottom: 4.6px;
    }
    &-box:nth-child(2) :nth-child(1) select {
      border: none;
      border-bottom: 0.7px solid #f2f2f2;
      width: 235px;
      padding-bottom: 6.33px;
    }
    &-box:nth-child(2) :nth-child(2) label {
      margin-bottom: 4.92px;
    }
    &-box:nth-child(2) :nth-child(2) input {
      width: 237px;
      padding-bottom: 6px;
    }
    &-box:nth-child(3) :nth-child(1) label {
      margin-bottom: 5.3px;
    }
    &-box:nth-child(3) :nth-child(1) input {
      padding-bottom: 5.6px;
      width: 235px;
    }
    &-radio {
      width: 236px;
      & input {
        margin: 3px 0 0;
      }
      & label {
        margin-right: 19px;
      }
    }
    &-radio__title {
      margin-bottom: 5.3px;
      font-size: 12px;
      line-height: 14.06px;
      color: $gray-color;
      font-weight: 400;
    }
    &-box:nth-child(4) :nth-child(1) label, &-box:nth-child(4) :nth-child(2) label {
      margin-bottom: 3.3px;
    }
    &-box:nth-child(4) :nth-child(1) input {
      width: 235px;
      padding-bottom: 2.7px;
    }
    &-box:nth-child(4) :nth-child(2) input {
      width: 236px;
      padding-bottom: 2.6px;
    }
    &-box:not(:nth-child(4)) {
      margin-bottom: 16px;
    }
    &-wrapper {
      margin-top: 98px;
      display: flex;
      justify-content: space-between;
    }
    &-label {
      display: block;
    }
    &-radio label {
      display: inline-block;
    }
    &-text {
      font-size: 13px;
      line-height: 15.25px;
      color: #000;
      font-weight: 200;
    }
    &-link {
      color: $bg-color;
    }
    &-submit {
      font-family: $fontSecondary;
      font-weight: 400;
      font-size: 14px;
      line-height: 18.12px;
      color: #fff;
      padding: 7px 26px;
      background-color: $bg-color;
      border: none;
      cursor: pointer;
      &:hover {
        transition: background-color .3s;
        background-color: #2a32bb;
      }
    }
  }
}


