@import "block/reset";
@import "block/vars";
@import "block/global";

.main {
  margin: 60px auto 0;
  &__inner {
    display: flex;
    max-height: 481px;
    height: 481px;
  }
  &__logo {
    position: relative;
    width: 138px;
    height: 100%;
    background-color: $bg-color;
    &-img {
      position: absolute;
      bottom: 22.5px;
      right: 6.5px;
    }
  }
}


